@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "User List";
}
<link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css">
<div class="content-wrapper">
	<h1>User List</h1>

	<p>
		<a asp-action="Create">Create New User</a>
	</p>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Users Table</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table id="example1" class="table table-bordered table-stripe">
							<thead>
								<tr>
									<th>User ID</th>
									<th>User Name</th>
									<th>Email</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var user in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => user.Id)
										</td>
										<td>
											@Html.DisplayFor(modelItem => user.UserName)
										</td>
										<td>
											@Html.DisplayFor(modelItem => user.Email)
										</td>
										<td>
											<a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
											<a asp-action="Details" asp-route-id="@user.Id">Details</a> |
											<a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

